{% extends "base.html" %}
{% block content %}

{{message}}
<h1>Tervetuloa! Katsellaksesi sisältöä, kirjaudu sisään.</h1>
<!-- Kaikki lomakkeen elementit form-tagin sisään -->
<form method="post" action="{{base_path}}/kirjaudu">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" name ="kayttajatunnus" class="form-control">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
        <label>Salasana</label>
        <input type="password" name="salasana" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
</form>


{% endblock %}