{% extends "base.html" %}
{% block content %}
<h1> Käyttäjän Nyymi seurattujen pelaajien listaus </h1>

<p>
    <a href="{{base_path}}/pelaaja/uusi" class="btn btn-success"> Lisää pelaaja seurantaan</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Etunimi</th>
            <th>Sukunimi</th>
            <th>Joukkue</th>
            <th>Pelipaikka</th>
            <th>Syntymäaika</th>
        </tr>
    </thead>

    <tbody>
        {% for pelaaja in pelaajat %}
        <tr>
            <td>{{pelaaja.etunimi}}</td>
            <td>{{pelaaja.sukunimi}}</td>
            <td>{{pelaaja.joukkue}}</td>
            <td>{{pelaaja.pelipaikka}}</td>
            <td>{{pelaaja.dob}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}