{% extends "base.html" %}
{% block content %}
<h1> Kaikki järjestelmässä olevat pelaajat </h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Joukkue</th>
            <th>Pelipaikka</th>
            <th>Syntymäaika</th>
        </tr>
    </thead>

    <tbody>
        {% for pelaaja in pelaajat %}
        <tr>
            <td><strong><a href="{{base_path}}/pelaaja/{{pelaaja.pelaajaTunnus}}">{{pelaaja.sukunimi}}, {{pelaaja.etunimi}}</a></strong></td>
            <td>{{pelaaja.joukkueNimi}}</td>
            <td>{{pelaaja.pelipaikka}}</td>
            <td>{{pelaaja.dob}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}