
{% extends "base.html" %}
{% block content %}
<h1>{{pelaaja.etunimi}} {{pelaaja.sukunimi}}</h1>


<table class="table table-striped table-bordered" style="width: 20%">
    <tr>
        <th>Joukkue:</th>
        <td>{{pelaaja.joukkueNimi}}</td>
    </tr>
    <tr>
        <th>Pelipaikka:</th>
        <td>{{pelaaja.pelipaikka}}</td>
    </tr>
    <tr>
        <th>Syntymäaika:</th>
        <td>{{pelaaja.dob}}</td>
    </tr>
    <tr>
        <th>Kuva:</th>
        <td><img src="{{pelaaja.linkki()}}"></td>
    </tr>
    
</table>
{% endblock %}