{% import "Makrot/kentta.html" as kentta %}
{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style="text-align: center">
    <h1>{{ottelu.pvm}}  :  {{ottelu.kotijoukkueNimi}} - {{ottelu.vierasjoukkueNimi}}</h1>
</div>
<p>
    <a href="{{base_path}}/ottelut" class="btn btn-primary">Palaa ottelulistaukseen</a>
</p>
<div class="row">
    <div class="col-sm-4">
        <table class="table table-striped table-bordered" style="width: 100%">
            <tr>
                <th colspan="2">{{ottelu.kotijoukkueNimi}}</th>
                <td></td>
                <th colspan ="2">{{ottelu.vierasjoukkueNimi}}</th>
            </tr>
            <tr>
                <th>Maalit</th>
                <td>{{ottelu.getKotiJoukkueenLaukaustenLkm('event-goal')}}</td>
                <td></td>
                <th>Maalit</th>
                <td>{{ottelu.getVierasJoukkueenLaukaustenLkm('event-goal')}}</td>
            </tr>
            <tr>
                <th>Torjutut</th>
                <td>{{ottelu.getKotiJoukkueenLaukaustenLkm('event-save')}}</td>
                <td></td>
                <th>Torjutut</th>
                <td>{{ottelu.getVierasJoukkueenLaukaustenLkm('event-save')}}</td>            
            </tr>
            <tr>
                <th>Blokatut</th>
                <td>{{ottelu.getKotiJoukkueenLaukaustenLkm('event-block')}}</td>
                <td></td>
                <th>Blokatut</th>
                <td>{{ottelu.getVierasJoukkueenLaukaustenLkm('event-block')}}</td>            
            </tr>
            <tr>
                <th>Ohi</th>
                <td>{{ottelu.getKotiJoukkueenLaukaustenLkm('event-miss')}}</td>
                <td></td>
                <th>Ohi</th>
                <td>{{ottelu.getVierasJoukkueenLaukaustenLkm('event-miss')}}</td>          
            </tr>
            <tr>
                <th>Yhteensä</th>
                <td>{{ottelu.getKotiJoukkueenLaukaustenLkm()}}</td>
                <td></td>
                <th>Yhteensä</th>
                <td>{{ottelu.getVierasJoukkueenLaukaustenLkm()}}</td>        
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table class="table">
            <tr>
                <th>{{ottelu.kotijoukkueNimi}}</th>
            </tr>
            <tr>
                <td>Maalit<div class="progress">
                        <div class="progress-bar progress-bar-success active" role="progressbar"
                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 1{{ottelu.getKotiJoukkueenLaukaustenLkm('event-goal')}}%">
                            {{ottelu.getKotiJoukkueenLaukaustenLkm('event-goal')}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Laukaukset Yhteensä<div class="progress">
                        <div class="progress-bar progress-bar-danger active" role="progressbar"
                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ottelu.getKotiJoukkueenLaukaustenLkm()}}%">
                            {{ottelu.getKotiJoukkueenLaukaustenLkm()}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-sm-4">
        <table class="table">
            <tr>
                <th>{{ottelu.vierasjoukkueNimi}}</th>
            </tr>
            <tr>
                <td>Maalit<div class="progress">
                        <div class="progress-bar progress-bar-success active" role="progressbar"
                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 1{{ottelu.getVierasJoukkueenLaukaustenLkm('event-goal')}}%">
                            {{ottelu.getVierasJoukkueenLaukaustenLkm('event-goal')}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Laukaukset Yhteensä<div class="progress">
                        <div class="progress-bar progress-bar-danger active" role="progressbar"
                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ottelu.getVierasJoukkueenLaukaustenLkm()}}%">
                            {{ottelu.getVierasJoukkueenLaukaustenLkm()}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="page-header">
    <h2>Ottelun laukaukset järjestelmässä</h2>
</div>
{{kentta.kentta("#{ottelu.getOttelunLaukaukset()}")}}
</body>
{% endblock %}