{% extends "base.html" %}
{% block content %}
<div class="content-wrapper">
    <div id="shooting-map">
        <div class="inside">
            <!--<img class="shooting-home" src="/media/team-logos/SM-Liiga-Logot_0004_HIFK_1.png.125x125_q85.png">
            <img class="shooting-away" src="/media/team-logos/SM-Liiga-Logot_0012_Karpat_AGDUuMu.png.125x125_q85.png">-->
            <div class="shooting-map-container">
                <img class="map-background" src="{{base_path}}/assets/pics/jaakiekkokaukalo.png">
                <div class="shot" data-tooltipid="267961" style="top: 33.0195%; left: 66.7734%;"></div>
                <div class="shot-tooltip tooltip-267961" style="top:37.019455252918284%; right:33.2265625%; ">
                    Laukoja: Juhamatti Aaltonen<br>
                    Joukkue: HIFK<br>
                    Aika: 02:56<br>
                    Laukaus ohi maalin
                </div>
                <div class="shot home period-1 event-goal player-23170797" data-tooltipid="267964" style="top: 38.2724%; left: 67.3594%; display: block;"></div>
                <div class="shot-tooltip tooltip-267964" style="top:42.27237354085603%; right:32.640625%; ">
                    Laukoja: Juuso Salmi<br>
                    Joukkue: HIFK<br>
                    Aika: 04:03<br>
                    Laukaus ohi maalin
                </div>
                <div class="shot away period-3 event-goal player-24895372" data-tooltipid="268063" style="top: 52.6693%; left: 17.6523%; display: block;"></div>
                <div class="shot-tooltip tooltip-268063" style="bottom:47.3307392996109%; left:19.65234375%; ">
                    Laukoja: Saku Mäenalanen<br>
                    Joukkue: Kärpät<br>
                    Aika: 44:34<br>
                    Kenttäpelaaja blokkasi
                    (Joe Finley)
                </div>
            </div>
        </div>
        <div class="shooting-map-legend">
            <ul>
                <li><img src="{{base_path}}/assets/pics/koti.png"> Kotijoukkueen laukaus</li>
                <li><img src="{{base_path}}/assets/pics/kotimaali.png"> Kotijoukkueen maali</li>
                <li><img src="{{base_path}}/assets/pics/vieras.png"> Vierasjoukkueen laukaus</li>
                <li><img src="{{base_path}}/assets/pics/vierasmaali.png"> Vierasjoukkueen maali</li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}