{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa omaa näkymää</h1>

  <form>
    <div class="form-group">
        <label>Näkymäsi nimi</label>
        <input type="text" class="form-control" value="Perusnäkymä">
    </div>
    <div class="form-group">
        <label>Seuraamasi pelaaja</label>
      <select class="form-control">
        <option value="pelaaja1">"Sakari Kekkonen"</option>
        <option value="pelaaja2">"Sakari Kakkonen"</option>
        <option value="pelaaja3">"Sakari Kokkonen"</option>
      </select>
    </div>
      <label>Haluamasi tiedot</label>
    <div class="form-group">
      <select class="form-control">
          <option value="pelaaja1">"Joukkue"</option>
          <option value="pelaaja2">"Ikä"</option>
          <option value="pelaaja3">"Paino"</option>
      </select>
    </div>
    <div class="form-group">
      <label>Kommentti</label>
      <textarea class="form-control">Erittäin hyvä pelaaja, joka laukoo aina maalin
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}